.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  gap: 10px; /* Space between cards */
  width: 90%; /* Reduce the width of the grid container */

  margin: 0 auto; /* Center the grid on the screen */
  padding: 10px; /* Optional padding around the grid */
  box-sizing: border-box; /* Ensure padding is included in the size */
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Maintain a 1:1 aspect ratio */
  aspect-ratio: 1 / 1;

  /* Reduce the size of the cards */
  width: 100%; /* Cards take up 80% of the grid cell's width */
  height: 100%; /* Cards take up 80% of the grid cell's height */
  margin: auto; /* Center the card within the grid cell */
  border-radius: 10px;
}

.grid-card:hover {
  transform: translateY(-5px); /* Lift the card slightly on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.grid-card-icon {
  font-size: calc(8px + 1rem + 1vh);; /* Icon size */
  color: #f5f5f5; /* Change icon color to #f5f5f5 */
  }

.grid-card-title {
  font-size: 14px; /* Reduce the font size of the title */
  font-weight: bold;
  color: #007bff;
  text-align: center;
}

.material-symbols-outlined {
  font-size: calc(10px + 1rem + 1vh);; /* Icon size */
  color: #f5f5f5; /* Change icon color to #f5f5f5 */
  line-height: -11.5px;
}



